body {
    background-color: lightblue;
}

#rating, #user-status, #home {
    text-align: center;
}
#home a{
    color:darkgreen;
}

#movie{
    display:inline-block;
}

#movie-image{
    vertical-align: top;
}
#flash {
    list-style-type: none;
    border: 2px solid black;
}
#flash li {
    text-align: center
}#eye-headline{
    display: inline-block;
    padding-bottom: 10px;
}
.eye-image{
    width: 10%;
    height: 10%;

}