body {
    background-color: lightblue;
}

#rating, #user-status {
    text-align: center;
}

#movie{
    display:inline-block;
}

#movie-image{
    vertical-align: top;
}
#flash {
    list-style-type: none;
    border: 2px solid black;
}
#flash li {
    text-align: center
}