{% extends 'base.html' %}
{% block content %}
<h1> Movie Info </h1>
<p> Title: {{ movie.title }}</p>
<p> Year Released: {{ movie.released_at.year }} </p>

<p> <a href="{{ movie.imdb_url }}">Click here to go the IMDB page </a> </p>


{% if "user_id" in session %}
<h2> New Rating </h2>
<form id="new-rating" action = "/add-rating" method = "POST">
    <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
    Please enter your rating for the movie <input type="number" max="5" min="0" name="rating" required>
    <br>
    <input type="submit">
</form>
{% endif %}

<h3>Ratings</h3>
    <ul>
        {% for rating in movie.ratings %}
    <li> User <a href="/user_info/{{ rating.user.user_id}}">{{ rating.user.user_id }}</a> rated movie {{ rating.score }} out of 5 </li>
    {% endfor %}
    </ul>


{% endblock %}