{% extends 'base.html' %}
{% block content %}


<a href="/movies"> Go to Movies </a>
<h1> User Info </h1>
<p> Age: {{ user.age }}</p>
<p> Zipcode: {{ user.zipcode }} </p>

{% if session.get("user_id") == user.user_id %}
<h3> Update Info </h3>
<form action="/update-user" method="POST">
Update your age: <input type="number" name="age" min="0"required> <br>
Update your zipcode:<input type="text" name="zipcode"required> <br>
<input type="submit"> 
</form>
{% endif %}

<h3> Ratings </h3>
    <ul>
        {% for rating in user.ratings %}
    <li> Rated movie <a href="/movie_info/{{ rating.movie.movie_id}}"> {{ rating.movie.title }}</a> {{ rating.score }} out of 5 </li>
    {% endfor %}
    </ul>

{% endblock %}